// ARTICULOS MAIN
.videoArticle__article{
    padding: 2rem;
    align-items: center;
}

.articles__article{

    &__img{
        max-height: 90vh;
    }

    &__legend{
        align-self: center;

        &--galeria{
            align-self: center;
            padding: 2rem;
        }
    }

    &__title{
        font-family: $font-1;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }

    &__text{
        font-family: $font-2;
        font-size: 1rem;
        text-align: center;
    }
}
// FIN ARTICULOS MAIN
