section .cards {
    width: 90%;
}

.cards {
    &__overline{
        font-family: $font-2;
        color: $color-1;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 1rem;
        text-align: center;
        margin-top: 3rem;
    }

    &__intro {
        width: 60vw;
        margin: 1rem auto 2rem;
    }

    &__title {
        font-family: $font-1;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }

    &__text {
        font-family: $font-2;
        font-size: 1rem;
        display: block;
        text-align: center;
    }

    &__container {
        @include dflex(row, center, center, wrap)
    }

    &__element {
        @include dflex(column, space-between, center, nowrap);
        height: 500px;
        min-width: min-content;
        max-width: 20%;
        border: 0.5px solid $color-3;
        border-radius: 3%;
        box-shadow: 5px 5px 3px hsla(197, 37%, 24%, 0.55);
        text-align: center;
        background-color: $color-4;
        margin-bottom: 2.7rem;

        &:hover {
            transform: scale(1.15);
            transition-duration: 700ms;
        }

        &__circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin: 2rem;
        }

        &__name {
            font-family: $font-1;
            font-size: 1.4rem;
            font-weight: 600;
            align-self: flex-start;
            margin: auto;
        }

        &__profession {
            font-family: $font-1;
            font-size: 1.2rem;
            align-self: flex-start;
            margin: 0.5rem auto;
        }

        &__image {
            border-radius: 7%;
            margin-top: 3%;
            padding: 5px;
            width: 90%;
            display: inline-block;
        }

        &__img__container {
            min-width: 200px;
        }

        &__text {
            height: 45%;
            margin: 0.5rem;
            font-family: $font-2;
            font-weight: lighter;
            font-style: italic;
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
    }

    &__button {
        background-color: $color-3;
        width: fit-content;
        margin: 1.2rem;
        padding: 4px 10px;
        border-radius: 3%;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.326);

        a {
            font-family: $font-1;
            font-size: 0.8rem;
            color: $color-4;
        }

        &:hover {
            background-color: $color-1;
        }
    }
}

.articlesSection .cards__container {
    width: 90%;
    justify-content: center;
}