// COMIENZO FOOTER
.footer {
    background-color: $color-3;

    a{
        color: $color-4;

        &:hover{
            color: $color-1;
            transform: scale(1.2);
            transition: 300ms;
            }

        &:active{
            color: $color-2;
            }
        }

    ul li{
        margin: 1rem 0 1rem 0;

        &:hover{
            transform: scale(1.1);
            transition: 500ms;
            }
        }

        &__links {
            font-family: $font-1;
            color: $color-4;
            font-size: 1.3rem;
            text-align: center;
            padding: 0;
        }

        &__social-media {
            @include dflex(row, center, center, wrap);
            min-width: 200px;
            align-self: center;
            padding: 0;

            &__icon{
                height: 1.5rem;
                margin: 1rem;
        
                &:hover {
                    transform: scale(1.5);
                    transition: 500ms;
                }
            }
        }

    &__map {
        @include dflex(column, center, center, nowrap);
        padding: 0;
        align-self: center;

        &__title {
            font-size: 1.2rem;
            font-family: $font-1;
            color: $color-4;
            padding: 0.3rem;
            text-align: center;
            font-weight: 600;
        }

        &__iframe {
            width: 180px;
            margin: auto;
        }        
        }
    
    &__business-card {
        align-self: center;
        text-align: center;
        margin: 0.8rem 0 0.5rem 0;

        &__title {
            color: $color-4;
            font-family: $font-1;
            font-size: 1rem;
            font-weight: 600;
            margin: 0.2rem;
        }
        
        &__text {
            color: $color-4;
            font-family: $font-1;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}