.contact-form {
    background-color: $color-3;
    border-radius: 4%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.516);
}

form{
    font-family: $font-2;
    color: $color-4;

    &-label{
        font-size: 1.1rem;
    }

    &-check-label{
        font-size: 0.9rem;
    }

    &-check-input:checked{
        background-color: $color-1;
        outline: $color-1;
    }
}

.input--inline {
    display: inline;
    margin: 5px;
}

.send__button {
    background-color: $color-1;
    display: block;
    width: 10rem;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 1px $color-4;
    font-family: $font-1;
    padding: 4px 10px;
    border-radius: 3%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.326);
    }
