// RESETEO
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    height: min-content;
}
// FIN RESETEO

// IMPORTACIÓN DE FUENTES GOOGLE FONTS
@font-face {
    font-family: 'Alef', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');
}
// FIN IMPORTACIÓN DE FUENTES


// GRADIENTE DEL MAIN
main {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 51%, rgba(240, 240, 240, 1) 96%, rgba(182, 182, 182, 1) 100%,
    rgba(240, 240, 240, 1) 67%,
    rgba(136, 135, 135, 1) 100%);
}